form.social-group-types-add-form #edit-group-settings #edit-field-group-allowed-join-method--wrapper .fieldset-wrapper,
form.social-group-types-add-form #edit-group-settings #edit-field-group-allowed-visibility,
form.social-group-types-add-form #edit-group-settings #edit-field-flexible-group-visibility--wrapper .fieldset-wrapper, form.social-group-types-edit-form #edit-group-settings #edit-field-group-allowed-join-method--wrapper .fieldset-wrapper,
form.social-group-types-edit-form #edit-group-settings #edit-field-group-allowed-visibility,
form.social-group-types-edit-form #edit-group-settings #edit-field-flexible-group-visibility--wrapper .fieldset-wrapper {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  margin: 0 -12px; }
  form.social-group-types-add-form #edit-group-settings #edit-field-group-allowed-join-method--wrapper .fieldset-wrapper > *,
  form.social-group-types-add-form #edit-group-settings #edit-field-group-allowed-visibility > *,
  form.social-group-types-add-form #edit-group-settings #edit-field-flexible-group-visibility--wrapper .fieldset-wrapper > *, form.social-group-types-edit-form #edit-group-settings #edit-field-group-allowed-join-method--wrapper .fieldset-wrapper > *,
  form.social-group-types-edit-form #edit-group-settings #edit-field-group-allowed-visibility > *,
  form.social-group-types-edit-form #edit-group-settings #edit-field-flexible-group-visibility--wrapper .fieldset-wrapper > * {
    padding: 0 12px; }
  form.social-group-types-add-form #edit-group-settings #edit-field-group-allowed-join-method--wrapper .fieldset-wrapper .form-group,
  form.social-group-types-add-form #edit-group-settings #edit-field-group-allowed-visibility .form-group,
  form.social-group-types-add-form #edit-group-settings #edit-field-flexible-group-visibility--wrapper .fieldset-wrapper .form-group, form.social-group-types-edit-form #edit-group-settings #edit-field-group-allowed-join-method--wrapper .fieldset-wrapper .form-group,
  form.social-group-types-edit-form #edit-group-settings #edit-field-group-allowed-visibility .form-group,
  form.social-group-types-edit-form #edit-group-settings #edit-field-flexible-group-visibility--wrapper .fieldset-wrapper .form-group {
    margin-bottom: 0; }
  form.social-group-types-add-form #edit-group-settings #edit-field-group-allowed-join-method--wrapper .fieldset-wrapper input[type='checkbox']:checked + label,
  form.social-group-types-add-form #edit-group-settings #edit-field-group-allowed-join-method--wrapper .fieldset-wrapper input[type='radio']:checked + label,
  form.social-group-types-add-form #edit-group-settings #edit-field-group-allowed-visibility input[type='checkbox']:checked + label,
  form.social-group-types-add-form #edit-group-settings #edit-field-group-allowed-visibility input[type='radio']:checked + label,
  form.social-group-types-add-form #edit-group-settings #edit-field-flexible-group-visibility--wrapper .fieldset-wrapper input[type='checkbox']:checked + label,
  form.social-group-types-add-form #edit-group-settings #edit-field-flexible-group-visibility--wrapper .fieldset-wrapper input[type='radio']:checked + label, form.social-group-types-edit-form #edit-group-settings #edit-field-group-allowed-join-method--wrapper .fieldset-wrapper input[type='checkbox']:checked + label,
  form.social-group-types-edit-form #edit-group-settings #edit-field-group-allowed-join-method--wrapper .fieldset-wrapper input[type='radio']:checked + label,
  form.social-group-types-edit-form #edit-group-settings #edit-field-group-allowed-visibility input[type='checkbox']:checked + label,
  form.social-group-types-edit-form #edit-group-settings #edit-field-group-allowed-visibility input[type='radio']:checked + label,
  form.social-group-types-edit-form #edit-group-settings #edit-field-flexible-group-visibility--wrapper .fieldset-wrapper input[type='checkbox']:checked + label,
  form.social-group-types-edit-form #edit-group-settings #edit-field-flexible-group-visibility--wrapper .fieldset-wrapper input[type='radio']:checked + label {
    font-weight: bold; }
  form.social-group-types-add-form #edit-group-settings #edit-field-group-allowed-join-method--wrapper .fieldset-wrapper input[type='checkbox'] + label,
  form.social-group-types-add-form #edit-group-settings #edit-field-group-allowed-join-method--wrapper .fieldset-wrapper input[type='radio'] + label,
  form.social-group-types-add-form #edit-group-settings #edit-field-group-allowed-visibility input[type='checkbox'] + label,
  form.social-group-types-add-form #edit-group-settings #edit-field-group-allowed-visibility input[type='radio'] + label,
  form.social-group-types-add-form #edit-group-settings #edit-field-flexible-group-visibility--wrapper .fieldset-wrapper input[type='checkbox'] + label,
  form.social-group-types-add-form #edit-group-settings #edit-field-flexible-group-visibility--wrapper .fieldset-wrapper input[type='radio'] + label, form.social-group-types-edit-form #edit-group-settings #edit-field-group-allowed-join-method--wrapper .fieldset-wrapper input[type='checkbox'] + label,
  form.social-group-types-edit-form #edit-group-settings #edit-field-group-allowed-join-method--wrapper .fieldset-wrapper input[type='radio'] + label,
  form.social-group-types-edit-form #edit-group-settings #edit-field-group-allowed-visibility input[type='checkbox'] + label,
  form.social-group-types-edit-form #edit-group-settings #edit-field-group-allowed-visibility input[type='radio'] + label,
  form.social-group-types-edit-form #edit-group-settings #edit-field-flexible-group-visibility--wrapper .fieldset-wrapper input[type='checkbox'] + label,
  form.social-group-types-edit-form #edit-group-settings #edit-field-flexible-group-visibility--wrapper .fieldset-wrapper input[type='radio'] + label {
    margin-bottom: .5rem; }
form.social-group-types-add-form #edit-group-settings legend.control-label, form.social-group-types-edit-form #edit-group-settings legend.control-label {
  margin-bottom: 0; }
form.social-group-types-add-form #edit-group-settings .help-block, form.social-group-types-edit-form #edit-group-settings .help-block {
  margin-top: 0;
  margin-bottom: .5rem; }
form.social-group-types-add-form #edit-group-settings .form-group, form.social-group-types-edit-form #edit-group-settings .form-group {
  margin-bottom: 19px; }

/*# sourceMappingURL=admin.css.map */
